<!DOCTYPE html>
<html>
    <div class="browserOptions">
        <label class="headless">Headless
          <input type="checkbox" id="headless">
        </label><br>
        <label class="chromium">Chromium
          <input type="checkbox" id="chromium" checked>
        </label><br>
        <label class="webkit">Webkit
          <input type="checkbox" id="webkit">
        </label><br>
        <label class="firefox">Firefox
          <input type="checkbox" id="firefox">
        </label><br>
	<% for (const device in knownDevices) { %>
          <label class="<%= device %>"><%= device %>
            <input type="checkbox" id="<%= device %>">
          </label><br>
        <% } %>
      </div>
</html>
