<html>
    <div class="browserOptions">
        <label class="headless">Headless
          <input type="checkbox" id="headless">
        </label><br>
        <label class="slomo">Slow Down
          <input type="text" id="slowmo" name="slomo" value="1000">
        </label><br>
        <label class="chromium">Chromium
          <input type="checkbox" id="chromium" checked>
        </label><br>
        <label class="mobileChrome">Pixel 5
          <input type="checkbox" id="chromium">
        </label><br>
        <label class="webkit">Webkit
          <input type="checkbox" id="webkit">
        </label><br>
        <label class="mobileWebkit">iPhone 12
          <input type="checkbox" id="webkit">
        </label><br>
        <label class="firefox">Firefox
          <input type="checkbox" id="firefox">
        </label><br>
        <label class="edge">Edge
          <input type="checkbox" id="edge">
        </label><br>
      </div>
</html>
