<!DOCTYPE html>
<html>
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th>Result #: </th>
            <th>Title: </th>
            <th>Time: </th>
            <th>Valid: </th>
          </tr>
        </thead>
	<tbody>
		<% for (const result of results) { %>
          <tr>
            <td><%= result.entry %></td>
            <td><%= result.title %></td>
            <td><%= result.time %></td>
            <td><%= result.isValid ? 'Yes' : 'No' %></td>
          </tr>
        <% } %>
      </tbody>
       </table>
         <div class="pagination">
           <button id="prevButton">Previous</button>
           <button id="nextButton">Next</button>
         </div>
     </div>
   </div>
</html>
