<html>
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Time</th>
            <th>More Recent</th>
          </tr>
        </thead>
       </table>
       <button>Prev</button>
       <button>Next</button>
     </div>
   </div>

</html>
